# =========================
# Normalize line endings
# =========================
* text=auto

# =========================
# CSV should be treated as text
# =========================
data/csv/*.csv text eol=lf

# =========================
# PNG images tracked using Git LFS
# =========================
data/raw_images/*.png filter=lfs diff=lfs merge=lfs -text

# =========================
# YAML clean endings
# =========================
*.yaml text eol=lf
*.yml text eol=lf

# =========================
# Python scripts clean endings
# =========================
*.py text eol=lf
